/*pokemoForm*/

.main{
    margin-top: 80px;
    overflow-x: hidden;  
}

.main .pokemon-form{
    margin-left: 35%;
    display: flex;
    width: 550px;
}    

input[type="text"] {
    border: none;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    margin: 10px 1%;
    padding: 8px 1%;
    
    
    width: 350px;
}

input[type="text"]:hover{
    color:#000;
}

#img-input{
   display: none;
       
}
.file-label{
    padding: 15px 5px;
    width: 150px;
    background-color: #830CBB;
    color: #fff;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    margin: 10px 1%;
    padding: 8px 1%;
}

.file-label:hover{
    background-color: #9711EA;
}

.pokemon-form .pokemon-button{
    margin-top: -50px;
    width: 65px;
    height: 40px;
    margin: 10px 1%;
    cursor: pointer;
    padding: 5px 5px;
    
    background-color: rgba(151, 17, 234, 0.5)!important;
    background: url('../icon/add.svg');
    background-repeat: no-repeat;
    background-position: center center;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    border:none!important;
}

button:active {
    border-style: outset;
}

.pokemon-form .pokemon-button:hover{
    background-color: #9711EA !important;
}

@media screen and (max-width: 600px) {
    .pokemon-form, #img-input, .file-label, .pokemon-button,.count, input[type="text"] {
      width: 100%;
      margin-top: 20px;
      flex-wrap: wrap;
      margin-left: -70px;
      margin-right: 70%;
      
      text-align: center;
      align-items: center;
    
    }
   
}

@media screen and (max-width: 850px){
    .pokemon-form, #img-input, .file-label,.pokemon-button,.count, input[type="text"] {
        width: 100%;
        margin-top: 30px;
        flex-wrap: wrap;
        margin-left: -155px;
        margin-right: 100px;
        text-align: center;
        align-items: center;
        
    }
    
    
}
 

  
/*Pokemon*/
.MainPokemon{
    display: flex ; /*Coloca os cards um do lado do outro */
    flex-wrap: wrap ; /*vai quebrar a linhas nos card*/
    justify-content: center ; /*centralizar os card */

}
